.button {
	font-size: 1.6rem;
	line-height: 1.6rem;
	cursor: pointer;
	color: #eef1ee;
	transition: all 0.2s ease;
}

.button:hover {
	color: #a8b7a8;
}

.fixed-button {
	position: absolute;
	top: 1rem;
	right: 1.5rem;
	padding: 1rem 1.5rem;
	font-size: 2rem;
	z-index: 1008;
}

@media screen and (min-width: 500px) {
	.fixed-button {
		top: 1.5rem;
		right: 2.5rem;
	}
}

.wrapper {
	position: relative;
	top: 0;
	left: 0;
	width: 90vw;
	margin: 0 auto;
	overflow-x: hidden;
}

.fixed-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
}

.title {
	font-family: "Playfair Display", serif;
	font-size: 3rem;
	line-height: 4rem;
}

@media screen and (max-width: 500px) {
	.title {
		font-size: 2rem;
	}
}

.horizontal-align {
	position: absolute;
	left: 50%;
	height: auto;
	transform: translateX(-50%);
}

.vertical-align {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.all-align {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.lightbox-wrapper {
	z-index: 1005;
}

.lightbox {
	width: 100vw;
	height: 100vh;
	background-color: rgba(29, 29, 29, 0.9);
}

.lightbox-photo-wrapper {
	background-color: #1d1d1d;
}

@media screen and (max-width: 500px) {
	.lightbox-photo-wrapper {
		width: 100%;
	}
}

.lightbox-photo-wrapper,
.lightbox-previous,
.lightbox-next {
	height: 75vh;
}

.lightbox-previous,
.lightbox-next {
	position: absolute;
	top: 0;
	width: 50vw;
	z-index: 1006;
}

.lightbox-previous:active.lightbox-button,
.lightbox-next:active.lightbox-button {
	-webkit-animation: click 0.2s ease-in;
	animation: click 0.2s ease-in;
}

.lightbox-previous {
	left: 0;
}

.lightbox-next {
	right: 0;
	direction: rtl;
}

.lightbox-button {
	font-size: 2rem;
	text-align: center;
	padding: 1rem 2.5rem;
	color: #eef1ee;
	background-color: rgba(238, 241, 238, 0);
}

.lightbox-button:hover {
	color: #1d1d1d;
	background-color: #eef1ee;
}

.lightbox-button:active {
	-webkit-animation: click 0.2s ease-in;
	animation: click 0.2s ease-in;
}

.lightbox-photo {
	display: block;
	max-width: 100%;
	max-height: 75vh;
	margin: auto;
}

.lightbox-photo-wrapper,
.lightbox-caption,
.roullette {
	max-width: 1340px;
}

.lightbox-caption {
	bottom: 20vh;
	width: 100%;
	line-height: 1.2rem;
	padding: 1rem;
	text-align: center;
	background-color: #eef1ee;
	z-index: 1008;
	transition: all 0.12s ease-in-out;
}

@media screen and (min-width: 1024px) {
	.lightbox-caption {
		line-height: 1.4rem;
		padding: 1.5rem;
	}
}

.roullette {
	top: 80vh;
	width: 100%;
	height: 20vh;
	overflow-x: scroll;
	overflow-y: hidden;
	white-space: nowrap;
	direction: ltr;
	z-index: 1007;
}

.roullette-image {
	position: relative;
	top: 20%;
	height: 100%;
	cursor: pointer;
	transition: all 0.1s ease-out;
}

.roullette-image:hover {
	top: 5%;
}

.appear {
	-webkit-animation: appear 0.2s ease-in;
	animation: appear 0.2s ease-in;
	opacity: 1;
}

@-webkit-keyframes appear {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes appear {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.disappear {
	-webkit-animation: disappear 0.2s ease-out;
	animation: disappear 0.2s ease-out;
	opacity: 0;
	z-index: -1;
}

@-webkit-keyframes disappear {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes disappear {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@-webkit-keyframes click {
	0% {
		color: #eef1ee;
		background-color: rgba(29, 29, 29, 0.45);
	}
	15% {
		background-color: rgba(29, 29, 29, 0.75);
	}
	40% {
		background-color: rgba(29, 29, 29, 0.45);
		color: #1d1d1d;
	}
}

@keyframes click {
	0% {
		color: #eef1ee;
		background-color: rgba(29, 29, 29, 0.45);
	}
	15% {
		background-color: rgba(29, 29, 29, 0.75);
	}
	40% {
		background-color: rgba(29, 29, 29, 0.45);
		color: #1d1d1d;
	}
}